@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Для h1 - заголовка месяцев */
h1 {
  font-family: 'DM Sans'; /* красивый и структурированный шрифт */
  font-size: 1.2em; /* увеличенный размер текста */
  color: #4a3d97; /* тёмный цвет номера месяца */
  margin-top: 10px; /* отступ сверху */
  margin-bottom: 0px; /* отступ снизу */
  text-align: center; /* по центру */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2); /* немного тени для объема */
  font-weight: bold;
}

/* Для h2 - проектов под месяцем */
h2 {
  font-family: 'DM Sans';
  font-size: 1em;
  color: #4a3d97;
  margin-bottom: 3px; 
  background-color: #F8F7FF;
  border: 1px solid #7D67FF;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  font-weight: normal;
}

.columns-wrapper {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.column {
  flex: 1;
}

.column h3 {
  font-family: 'DM Sans';
  font-size: 1em;
  color: #4a3d97;
  margin-bottom: 10px;
  font-weight: bold;
}